@use '../../node_modules/@shlinkio/shlink-frontend-kit/dist/base';
@use '../utils/mixins/sticky-cell';

.visits-table {
  background-color: var(--primary-color);
  overflow-y: hidden;
}

.visits-table__header-cell {
  cursor: pointer;
  margin-bottom: 55px;

  @include sticky-cell.sticky-cell();

  @media (min-width: base.$mdMin) {
    &.visits-table__sticky {
      top: base.$headerHeight + 40px;
    }
  }
}

.visits-table__header-icon {
  float: right;
  margin-top: 3px;
}

.visits-table__footer-cell.visits-table__footer-cell {
  bottom: 0;
  margin-top: 34px;

  @include sticky-cell.sticky-cell();
}

.visits-table__sticky.visits-table__sticky {
  position: sticky;
}
