{
  "root": true,
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": ["error", {
      "controlComponents": ["Input", "DateInput"]
    }],
    "react/no-unused-prop-types": "off"
  },
  "overrides": [{
    "files": ["**/reducers/**"],
    "rules": {
      "no-param-reassign": "off"
    }
  }]
}
