{
  "root": true,
  "extends": [
    "@shlinkio/js-coding-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "off"
  }
}
