@use '../node_modules/@shlinkio/shlink-frontend-kit/dist/base';
@use '../node_modules/bootstrap/scss/bootstrap.scss' with (
  $primary: base.$mainColor
);
@use '../node_modules/@shlinkio/shlink-frontend-kit/dist/index';
@use '../src/index.scss' as dev-index;

.header {
  height: base.$headerHeight;
  background-color: var(--brand-color);
}

.wrapper {
  padding: base.$headerHeight 0;
}
