.redirect-rule-modal__condition {
  border: 1px solid var(--border-color);
}

.redirect-rule-modal__header.redirect-rule-modal__header,
.redirect-rule-modal__footer.redirect-rule-modal__footer {
  background-color: var(--primary-color);
}

.redirect-rule-modal__remove-condition-button.redirect-rule-modal__remove-condition-button {
  top: -15px;
  right: -15px;
  background-color: var(--primary-color);
}

.redirect-rule-modal__remove-condition-button-icon {
  width: 14px;
  line-height: 14px;
}

.redirect-rule-modal__conditions-row.redirect-rule-modal__conditions-row {
  padding-right: 0.8rem;
}
