@use 'sass:color';
@use '../../node_modules/@shlinkio/shlink-frontend-kit/dist/base';

.domains-dropdown__toggle-btn.domains-dropdown__toggle-btn,
.domains-dropdown__toggle-btn.domains-dropdown__toggle-btn:hover,
.domains-dropdown__toggle-btn.domains-dropdown__toggle-btn:active {
  color: color.adjust(base.$textPlaceholder, $lightness: -3%, $space: hsl) !important;
}

.domains-dropdown__toggle-btn--active.domains-dropdown__toggle-btn--active,
.domains-dropdown__toggle-btn--active.domains-dropdown__toggle-btn--active:hover,
.domains-dropdown__toggle-btn--active.domains-dropdown__toggle-btn--active:active {
  color: var(--input-text-color) !important;
}

.domains-dropdown__back-btn.domains-dropdown__back-btn,
.domains-dropdown__back-btn.domains-dropdown__back-btn:hover {
  border-color: var(--border-color);
}
