@use '../../node_modules/@shlinkio/shlink-frontend-kit/dist/base';

.aside-menu {
  width: base.$asideMenuWidth;
  background-color: var(--primary-color);
  box-shadow: rgb(0 0 0 / .05) 0 8px 15px;
  position: fixed !important;
  padding-top: 13px;
  padding-bottom: 10px;
  top: base.$headerHeight;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 1010;
  overflow: hidden auto;

  @media (min-width: base.$mdMin) {
    padding: 30px 15px 15px;
  }

  @media (max-width: base.$smMax) {
    transition: left 300ms;
    top: base.$headerHeight - 3px;
    box-shadow: -10px 0 50px 11px rgb(0 0 0 / .55);
  }
}

.aside-menu--hidden {
  @media (max-width: base.$smMax) {
    left: -(base.$asideMenuWidth + 35px);
  }
}

.aside-menu__nav {
  height: 100%;
}

.aside-menu__item {
  padding: 10px 20px;
  margin: 0 -15px;
  text-decoration: none !important;
  cursor: pointer;

  @media (max-width: base.$smMax) {
    margin: 0;
  }
}

.aside-menu__item:hover {
  background-color: var(--secondary-color);
}

.aside-menu__item--selected,
.aside-menu__item--selected:hover {
  color: #ffffff;
  background-color: var(--brand-color);
}

.aside-menu__item-text {
  margin-left: 8px;
}
